
@font-face {
  font-family: Cooper-Black;
  src: url(../fonts/Cooper-Black.otf),
  url(../fonts/Cooper-Black.eot),
  url(../fonts/Cooper-Black.svg),
  url(../fonts/Cooper-Black.ttf),
  url(../fonts/Cooper-Black.woff),
  url(../fonts/Cooper-Black.woff2);
}

@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.otf),
  url(../fonts/Lato-Bold.eot),
  url(../fonts/Lato-Bold.svg),
  url(../fonts/Lato-Bold.ttf),
  url(../fonts/Lato-Bold.woff),
  url(../fonts/Lato-Bold.woff2);
}

@font-face {
  font-family: Lato-Semibold;
  src: url(../fonts/Lato-Semibold.otf),
  url(../fonts/Lato-Semibold.eot),
  url(../fonts/Lato-Semibold.svg),
  url(../fonts/Lato-Semibold.ttf),
  url(../fonts/Lato-Semibold.woff),
  url(../fonts/Lato-Semibold.woff2);
}





